@import url(https://fonts.googleapis.com/css?family=Rubik+Bubbles:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Abel:regular&display=swap);
/* добавляем &display=swap */

/* ----сбрасываем margin and other-------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* цвет и фон страницы */
body {
  font-family: "Abel", sans-serif;
  background-color: #9ea7ad;
  color: #ffffff;
}

.container {
  outline: solid 2px red;

  width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------------------------- */

a:hover {
  color: white;
  background-color: red;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
}

.header__popap {
  font-size: 20px;
  color: red;
  background-color: #fff;
}

.content__body {
  margin-top: 100px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;
  overflow-x: hidden;

  transition: all 700ms ease;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: perspective(600px) translateY(0) rotateX(0deg);
  /* transform: scale(1); */
}

.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.popup__content {
  background-color: rgb(32, 14, 80);
  max-width: 500px;
  padding: 20px;
  position: relative;

  opacity: 0;
  transform: perspective(600px) translateY(-100%) rotateX(45deg);
  transition: transform 700ms ease;
  /* transform: scale(1.3); */
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: red;
}

.popup__title {
  font-size: 40px;
  margin-bottom: 10px;
}
.popup__text {
}
